@model List<GameModel>;
@{
    // setting up pager
    Pager Pager = new Pager();

    int pageNumber = 0;

    if (ViewBag.Pager != null)
    {
        Pager = ViewBag.Pager;
        pageNumber = Pager.CurrentPage;
    }
}

@{
    ViewData["Title"] = "Index";
}

<h1>Games</h1>
<hr />

<!--Displaying pager-->
<partial name="_Pager" model="@Pager" />

<p>
    <a asp-action="Create" class="btn btn-m btn-success ml-1">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                name
            </th>
            <th>
                description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => game.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => game.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {Id = game.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {Id = game.Id})
                </td>
            </tr>
        }
    </tbody>
</table>

